
.Mercury {
    background: rgb(252, 255, 87);
}

.Venus {
    background: rgb(205, 4, 231);
}

.Earth {
    background: rgb(255, 148, 7);
}

.Jupiter {
    background: rgb(5, 29, 245);
}

.Saturn {
    background: rgb(255, 1, 141);
}

.Uranus {
    background: rgb(14, 232, 248);
}

.Neptune {
    background: rgb(7, 219, 7);
}